<div class="img-teaser">
  <%= image_tag("bike2.jpg", class: "img-responsive") %>
</div>
<div class="container-fluid product-show">
  <%= render 'product-detail', product: @product %>


  <div class="edit_btn">
    <button><%= link_to 'Edit', edit_product_path(@product) %> </button>
    <button><%= link_to 'Back', products_path %></button>
  </div>
</div>
