<div class="img-teaser">
  <%= image_tag("bike4.jpg", class: "img-responsive") %>
</div>
<div class="container-fluid">
  <h1>Contact</h1>
  <p>Find me in app/views/simple_pages/products.html.erb</p>
</div>
