<div class="img-teaser">
  <%= image_tag("bike4.jpg", class: "img-responsive") %>
</div>
<div class="container-fluid">
  <h1>Thank you.</h1>
<dic class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
      <p>We have received your message and will respond as soon as possible.</p>
  </div>
  <div class="col-md-3"></div>
</div>
