<div class="img-teaser">
  <%= image_tag("bike2.jpg", class: "img-responsive") %>
</div>

<div class="container-fluid">

  <h1>New User</h1>

  <%= render 'form', user: @user %>

  <%= link_to 'Back', users_path %>
</div>
