.orders {
  margin-top: 150px;
}

.orders h1 {
  text-align: center;
}

.orders h2 {
  font-size: 1.5em;
}

.order_list_left {
  text-align: right;
}

.order_list_right ul {
  list-style-type: none;
}
