<p id="notice"><%= notice %></p>
<div class="img-teaser">
  <%= image_tag("bike2.jpg", class: "img-responsive") %>
</div>
<div class="container-fluid products-all">
  <h1>Products</h1>
    <div class="row">
      <% @products.each do |product| %>
        <%= render product %>
      <% end %>
    </div>
  <br>
  <div class="edit_btn">
    <button>
      <i class="fas fa-plus-circle"></i>
      <%= link_to 'New Product', new_product_path %>
    </button>
  </div>
</div>
