<footer class="container-fluid">
  <div class="footer-blocks row">
    <div class="footer-block1 col-md-4 col-sm-4">
      <h3>Shop</h3>
        <ul>
          <li>Road bikes</li>
          <li>Mountain bikes</li>
          <li>Hybrid bikes</li>
          <li>Electric bikes</li>
          <li>Equipment</li>
          <li>Apparel</li>
        </ul>
    </div>
    <div class="footer-block2 col-md-4 col-sm-4">
      <h3>Support</h3>
        <ul>
          <li>Customer service</li>
          <li>Warranty</li>
          <li>Bike sizing & fit guides</li>
          <li>Manuals & user guides</li>
        </ul>
    </div>
    <div class="footer-block3 col-md-4 col-sm-4">
      <h3>Legal</h3>
        <ul>
          <li>Privacy policy & terms of use</li>
          <li>Cookie policy</li>
          <li>California Transparency Act</li>
          <li>Privacy policy & terms of use</li>
          <li>Cookie policy</li>
        </ul>
      <h3>Payment</h3>
    </div>
    <div class="copy">
      &copy; 2018 Bike Berlin
    </div>
  </div>
</footer>
